n8n/LinkedIn Outreach.json
{
  "name": "LinkedIn Outreach - 7 Day Continuous",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 300],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily 9am EST"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 520],
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python -c \"\nimport json, sys\ntry:\n    from src.monitoring import HealthMonitor\n    monitor = HealthMonitor()\n    can_proceed = monitor.can_proceed()\n    score = monitor.score\n    resume = str(monitor.time_until_resume())\n    result = {\n        'health_score': score,\n        'can_proceed': can_proceed,\n        'time_until_resume': resume,\n        'status': 'healthy' if can_proceed else 'paused'\n    }\n    print(json.dumps(result))\n    if not can_proceed:\n        print(f'CIRCUIT BREAKER OPEN: score={score}, resume_in={resume}', file=sys.stderr)\n        sys.exit(1)\nexcept Exception as e:\n    print(json.dumps({'error': str(e), 'status': 'error'}))\n    sys.exit(1)\n\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-200, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Health Check",
      "notes": "Circuit breaker check. Stops workflow if health score < 50.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python main.py --status 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [100, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Load Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-is-monday",
              "leftValue": "={{ $now.setZone('America/New_York').weekday }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [380, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Is Monday?"
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python main.py --generate-week 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [660, 280],
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Generate Weekly Plan",
      "notes": "Runs ONLY on Monday. Creates 7-day stochastic schedule with Poisson timing.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python main.py --show-plan 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [940, 280],
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Show Plan (Audit Log)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-plan-exists",
              "leftValue": "={{ $('Load Status').item.json.stdout }}",
              "rightValue": "plan_exists",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 520],
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Plan Exists?",
      "notes": "Tue-Sun: verify weekly plan is loaded. If missing, force regenerate."
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python main.py --generate-week 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [940, 620],
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Regenerate Plan (Recovery)",
      "notes": "Fallback: regenerate plan if schedule_state.json is missing or corrupt mid-week."
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python main.py --batch 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1300, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Run Batch",
      "notes": "Executes today's scheduled queue. Respects Poisson-distributed timing between profiles."
    },
    {
      "parameters": {
        "jsCode": "// Parse batch output to extract engagement metrics\nconst stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst exitCode = $input.first().json.exitCode;\nconst lines = stdout.split('\\n').filter(l => l.trim());\n\nlet done = 0, failed = 0, skipped = 0, already_reacted = 0, no_posts = 0;\nconst engagements = [];\n\nfor (const line of lines) {\n  try {\n    const parsed = JSON.parse(line);\n    if (parsed.status) {\n      switch(parsed.status) {\n        case 'done': done++; break;\n        case 'failed': failed++; break;\n        case 'skipped': skipped++; break;\n        case 'already_reacted': already_reacted++; break;\n        case 'no_posts': no_posts++; break;\n      }\n      engagements.push({\n        url: parsed.profile_url || '',\n        status: parsed.status,\n        reaction: parsed.reaction_type || '',\n        time: parsed.timestamp || ''\n      });\n    }\n  } catch(e) {\n    // Not a JSON line (log output, etc) - skip\n  }\n}\n\nconst total = done + failed + skipped + already_reacted + no_posts;\nconst successRate = total > 0 ? ((done / total) * 100).toFixed(1) : '0.0';\n\nconst now = new Date();\nconst dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\n\nreturn [{\n  json: {\n    date: now.toISOString().split('T')[0],\n    day_of_week: dayNames[now.getDay()],\n    done,\n    failed,\n    skipped,\n    already_reacted,\n    no_posts,\n    total,\n    success_rate: `${successRate}%`,\n    exit_code: exitCode,\n    has_errors: failed > 0 || exitCode !== 0,\n    low_success_rate: parseFloat(successRate) < 70,\n    engagements,\n    stderr_excerpt: stderr.substring(0, 500)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Parse Results"
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python -c \"\nimport json, sys\n\nstats_raw = sys.argv[1] if len(sys.argv) > 1 else '{}'\ntry:\n    stats = json.loads(stats_raw)\nexcept:\n    stats = {}\n\ndate = stats.get('date', 'unknown')\ndow = stats.get('day_of_week', 'unknown')\ndone = stats.get('done', 0)\nfailed = stats.get('failed', 0)\nskipped = stats.get('skipped', 0)\nar = stats.get('already_reacted', 0)\nnp = stats.get('no_posts', 0)\ntotal = stats.get('total', 0)\nrate = stats.get('success_rate', '0%')\n\nreport = f'''\\n=== DAILY REPORT: {date} ({dow}) ===\\nTotal Attempts: {total}\\n  Done:            {done}\\n  Failed:          {failed}\\n  Skipped:         {skipped}\\n  Already Reacted: {ar}\\n  No Posts:        {np}\\nSuccess Rate:      {rate}\\n===================================\\n'''\n\nprint(report)\n\n# Write summary to sheets\ntry:\n    from src.sheets_client import get_sheets_client\n    client = get_sheets_client()\n    from datetime import datetime\n    client.log_sheet.append_row([\n        datetime.now().isoformat(),\n        'DAILY_SUMMARY',\n        '',\n        f'done={done} failed={failed} ar={ar} np={np}',\n        '',\n        f'total={total} rate={rate}',\n        'summary',\n        '',\n        datetime.now().isocalendar()[1],\n        dow\n    ])\n    print('Summary logged to Sheets')\nexcept Exception as e:\n    print(f'Sheets logging failed: {e}', file=sys.stderr)\n\" '{{ JSON.stringify($json) }}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1860, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Daily Report"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-is-sunday",
              "leftValue": "={{ $now.setZone('America/New_York').weekday }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2140, 400],
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "Is Sunday?"
    },
    {
      "parameters": {
        "command": "cd \"/Users/krantiy/Documents/Linkedin Automation Project\" && source \".venv/bin/activate\" && python -c \"\nimport json\nfrom src.scheduler import Scheduler\n\ntry:\n    scheduler = Scheduler()\n    plan = scheduler.plan\n    status = scheduler.status()\n\n    if plan:\n        day_summaries = []\n        total_done = 0\n        total_budget = 0\n        for date_key, day_slot in sorted(plan.days.items()):\n            completed = day_slot.completed\n            budget = day_slot.budget\n            total_done += completed\n            total_budget += budget\n            day_summaries.append(f'  {date_key}: {completed}/{budget}')\n\n        days_str = chr(10).join(day_summaries)\n        rate = (total_done / max(total_budget, 1)) * 100\n\n        print(f'''\\n{'='*45}\\n  WEEKLY SUMMARY - WEEK {plan.week_number}\\n{'='*45}\\nWeek Start: {plan.week_start}\\nBudget:     {total_budget} engagements\\nCompleted:  {total_done}/{total_budget} ({rate:.1f}%)\\n\\nDaily Breakdown:\\n{days_str}\\n\\nRate Limits: {json.dumps(status, indent=2)}\\n{'='*45}\\n''')\n    else:\n        print('No weekly plan found')\n\nexcept Exception as e:\n    print(f'Weekly summary error: {e}')\n\" 2>&1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2420, 280],
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "Weekly Summary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-has-errors",
              "leftValue": "={{ $('Parse Results').item.json.has_errors }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2140, 640],
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "Has Errors?"
    },
    {
      "parameters": {
        "jsCode": "// Format error notification payload\nconst stats = $('Parse Results').item.json;\n\nconst severity = stats.low_success_rate ? 'HIGH' : 'MEDIUM';\n\nconst payload = {\n  text: `LinkedIn Automation Alert [${severity}]`,\n  date: stats.date,\n  day: stats.day_of_week,\n  severity,\n  summary: `Done: ${stats.done} | Failed: ${stats.failed} | Already Reacted: ${stats.already_reacted} | No Posts: ${stats.no_posts}`,\n  success_rate: stats.success_rate,\n  action_required: stats.low_success_rate\n    ? 'Success rate below 70%. Check session validity and LinkedIn account status.'\n    : 'Some engagements failed. Review logs for details.',\n  stderr_excerpt: stats.stderr_excerpt || 'none',\n  formatted_message: [\n    `*LinkedIn Automation Alert* [${severity}]`,\n    `Date: ${stats.date} (${stats.day_of_week})`,\n    `Success Rate: ${stats.success_rate}`,\n    `Done: ${stats.done} | Failed: ${stats.failed}`,\n    `Already Reacted: ${stats.already_reacted} | No Posts: ${stats.no_posts}`,\n    '',\n    stats.low_success_rate\n      ? 'ACTION: Success rate below 70%. Check session and account.'\n      : 'Review logs for failed engagements.'\n  ].join('\\n')\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 640],
      "id": "a1b2c3d4-0001-4000-8000-000000000016",
      "name": "Format Error Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/YOUR/WEBHOOK/URL' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $json.text }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*Date:*\\n{{ $json.date }} ({{ $json.day }})\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Success Rate:*\\n{{ $json.success_rate }}\" }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.summary }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Action Required:*\\n{{ $json.action_required }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2700, 640],
      "id": "a1b2c3d4-0001-4000-8000-000000000017",
      "name": "Send Slack Alert",
      "notes": "Replace SLACK_WEBHOOK_URL with your actual webhook or set as n8n env variable.",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2420, 520],
      "id": "a1b2c3d4-0001-4000-8000-000000000018",
      "name": "No Errors - Done"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2700, 280],
      "id": "a1b2c3d4-0001-4000-8000-000000000019",
      "name": "Weekday End"
    }
  ],
  "connections": {
    "Daily 9am EST": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Load Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Status": {
      "main": [
        [
          {
            "node": "Is Monday?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Monday?": {
      "main": [
        [
          {
            "node": "Generate Weekly Plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plan Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weekly Plan": {
      "main": [
        [
          {
            "node": "Show Plan (Audit Log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Plan (Audit Log)": {
      "main": [
        [
          {
            "node": "Run Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Exists?": {
      "main": [
        [
          {
            "node": "Run Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Regenerate Plan (Recovery)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate Plan (Recovery)": {
      "main": [
        [
          {
            "node": "Run Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Batch": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Report": {
      "main": [
        [
          {
            "node": "Is Sunday?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Sunday?": {
      "main": [
        [
          {
            "node": "Weekly Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weekday End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Errors?": {
      "main": [
        [
          {
            "node": "Format Error Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Errors - Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Payload": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    {
      "name": "linkedin",
      "id": "tag-linkedin"
    },
    {
      "name": "automation",
      "id": "tag-automation"
    }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}